<!DOCTYPE html>
<html class="has-navbar-fixed-bottom">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/cat-love.svg" type="images/x-icon"/>
    <title>{% block title %}BlablaCat - Adoptez un chat tout mignon{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
<section class="hero is-link is-small">
    <div class="hero-body">
        <p class="title is-flex is-align-items-center">
            <img src="/img/cat-love.svg" width="50">
            <span>BlablaCat</span>
        </p>
        <p class="subtitle">
            <small><s>Achetez</s></small> Adoptez un chat tout mignon
        </p>
    </div>
</section>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <section class="section pb-0">
            <div class="container">
                <article class="message is-{{ label }}">
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            </div>
        </section>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}

<div class="navbar is-fixed-bottom is-block pb-1">
    <div class="tabs is-boxed is-fullwidth is-medium">
        <ul>
            <li class="{% if app.request.pathinfo == '/' %}is-active{% endif %}">
                <a href="{{ path('index') }}">
                    <span class="icon"><img src="/img/cat-love.svg" aria-hidden="true"></span>
                    <span>Les chats</span>
                </a>
            </li>
            <li class="{% if app.request.pathinfo == '/panier' %}is-active{% endif %}">
                <a href="{{ path('cart') }}">
                    <span class="icon"><img src="/img/cart.svg" aria-hidden="true"></span>
                    <span>Mon panier ({{ cart.count }})</span>
                </a>
            </li>
            <li class="{% if app.request.pathinfo == '/mon-compte' %}is-active{% endif %}">
                <a href="{{ path('account') }}">
                    <span class="icon"><img src="/img/its-me.svg" aria-hidden="true"></span>
                    <span>Mon compte</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
