{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">

            <h1 class="title is-flex is-align-items-center">
                <img class="mr-3" src="/img/cat-love.svg" width="75">
                Les chats&nbsp;<small><s>à vendre</s></small>&nbsp;disponibles à l'adoption
            </h1>

            <div class="columns is-multiline">
                {% for cat in cats %}
                    <div class="column is-one-quarter-desktop is-one-third-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="{{ cat.image }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="{{ cat.icon }}" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">{{ cat.name }}</p>
                                        <p class="subtitle is-6">{{ cat.price | number_format(2, ',', ' ') }} €</p>
                                    </div>
                                </div>

                                <div class="content">
                                    {{ cat.description | raw }}
                                </div>

                                {% if cart.contains(cat) %}
                                    <button disabled class="button is-fullwidth is-link">
                                        <small><s>Acheter</s></small>&nbsp;Adopter
                                    </button>
                                {% else %}
                                    <a href="{{ path('add-to-cart', {id: cat.id}) }}" class="button is-fullwidth is-link">
                                        <small><s>Acheter</s></small>&nbsp;Adopter
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
{% endblock %}
